body{
	font-family:'Open Sans', sans-serif;
	background:#3498db;
	margin:0 auto 0 auto;  
	width:100%; 
	text-align:center;
	margin:20px 0px 20px 0px;   
}

p{
	font-size:12px;
	text-decoration:none;
	color:#ffffff;
}

h1{
	font-size:1.5em;
	color:#525252;
}

.box{
	background:white;
	width:900px;
	border-radius:6px;
	margin:0 auto;
	border:4px solid #2980b9; 
}

table{
	width:100%;
	border-top:2px solid #E5E5E5;
	border-bottom:2px solid #E5E5E5;
}

tr{
	line-height:30px;
}

th{
	font-size:11pt;
	border-bottom:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	background-color:#F9F9F9;
}

/* 글 리스트 */
.seq, .writedate, .readcount{
	font-size:10pt;
}
.title{
	text-align:left;
	padding-left:10px;
}
a:LINK{
	color:black;
	text-decoration:none;
}
a:VISITED{
	color:black;
}
a:HOVER{
	text-decoration:underline;
}
.area_page_num{
	margin:20px 0px 20px 0px;
}

/* //글 리스트 */

/* 글 작성, 수정 양식 */
td{
	border-bottom:1px solid #E5E5E5;
}

.tbl_write, .tbl_update td{
	font-size:10pt;
	
	padding-left:10px;
	text-align:left;
}

textarea{
	width:100%;
}

.txtarea{
	padding-right:10px;
}
/* //글 작성 양식 */

/* 글 보기  */
.tbl_view td{
	font-size:10pt;
	
	padding-left:10px;
	text-align:left;
}
/* //글 보기  */

/* 버튼 */
.foot{
	width:100%;
	height:100%;
	/* border:1px solid blue; */
	text-align:center; 
}
.area_bottom_btn{
	width:300px;
	height:50px;
	/* border:1px solid black; */
	margin:0 auto;
	display:table;
	vertical-align:middle;
}

.btn_logout, .btn_cancel{
	background:#ff8080;
	width:125px;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	border-radius:4px;
	border:1px solid #ff5353;
	
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:16px;
	font-weight:800;
	font-size:0.8em;
	
	cursor:pointer;
}

.btn_green{
	background:#1fad3f;
	width:125px;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	border-radius:4px;
	border:1px solid #188731;
	
	margin:20px 10px 20px 10px;
	font-weight:800;
	font-size:0.8em;
	
	cursor:pointer;
}

.btn_blue{
	background:#0080ff;
	width:125px;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	border-radius:4px;
	border:1px solid #0055aa;
	
	margin:20px 10px 20px 10px;
	font-weight:800;
	font-size:0.8em;
	
	cursor:pointer;
}

#btn_list, #btn_update_form, #btn_reply, #btn_delete{
	width:50px;
}

.btn:hover{
	background:#2CC06B; 
}

.btn_member_info, .btn_write{
	
	background:#3498db;
	width:125px;  
	padding-top:5px;
	padding-bottom:5px;
	color:white;
	border-radius:4px;
	border:1px solid #2980b9;
	
	float:right;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:10px;
	font-weight:800;
	font-size:0.8em;
	
	cursor:pointer;
}

#btn2:hover{ 
	background:#3594D2; 
}
